.fondo {
    background-image: url("../assets/fondo1-resgiter.dc74014100a8.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 30%;
}

.form-label {
    color: white;
}